# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Migrations (optional)
*/migrations/*/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# Celery
celerybeat-schedule
celerybeat.pid

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo
*.pyd
*.so

# macOS
.DS_Store

# Windows
Thumbs.db
